.parlour-footer {
    padding-top: var(--wp--preset--spacing--70);
    padding-right: var(--wp--preset--spacing--50);
    padding-bottom: var(--wp--preset--spacing--70);
    padding-left: var(--wp--preset--spacing--50);

    a {
        text-decoration: none;
    }
}

.footer__container {
    max-width: var(--parlour--width-wide-size);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: var(--wp--preset--spacing--80);
    
    @media (--below-bp-tablet) {
        flex-direction: column;
    }
}

/* Disclaimer / Small Print */

.parlour-footer--disclaimer {
    background-color: var(--wp--preset--color--neutral-100);
    border-top: 1px solid var(--wp--preset--color--neutral-400);
}

.parlour-footer--disclaimer p {
    font-family: var(--wp--preset--font-family--inter-tight);
    font-size: var(--wp--preset--font-size--x-small);
    font-weight: 300;
    color: var(--wp--preset--color--neutral-800);

    a {
        font-weight: 400;
        color: var(--wp--preset--color--primary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.parlour-footer--disclaimer .wp-block-social-links {
    font-size: var(--wp--preset--font-size--medium);
    gap: var(--wp--preset--spacing--40);
}

@media (--below-bp-tablet) {
    .parlour-footer--disclaimer .footer__container {
        gap: var(--wp--preset--spacing--30);
        text-align: center;
    }
    
    .parlour-footer--disclaimer .wp-block-social-links {
        margin-top: var(--wp--preset--spacing--30);
        justify-content: center;
    }
}

/*
.footer__links ul {
    list-style: none;
}

.footer__links li {
    margin-bottom: var(--wp--preset--spacing--30);
}

.footer__links li a {
    color: var(--wp--preset--color--primary);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.footer__links li:last-child {
    margin-bottom: 0;
} */
