.parlour-header {
    padding-top: var(--wp--preset--spacing--120);
    padding-right: var(--wp--preset--spacing--50);
    padding-left: var(--wp--preset--spacing--50);
    padding-bottom: 0;
}

.parlour-header__container {
    max-width: var(--parlour--width-medium-size);
    margin: 0 auto;
}

/* Wide Size Containers */

.parlour-header--home .parlour-header__container,
.parlour-header--blog .parlour-header__container {
    max-width: var(--parlour--width-wide-size);
    margin: 0 auto;
}

/* Content Elements */

.parlour-header h1 {
    font-size: var(--wp--preset--font-size--4-x-large);
    margin-block-start: var(--wp--preset--spacing--100);
    margin-bottom: var(--wp--preset--spacing--70);

    em {
        font-weight: 300;
    }
}

.parlour-header .wp-block-post-excerpt {
    font-size: var(--wp--preset--font-size--large);
}

.parlour-header .wp-block-separator {
    margin-top: var(--wp--preset--spacing--100);
    margin-block-end: var(--wp--preset--spacing--70);
}

/* Shared Elements */

.parlour-header__container .wp-block-post-terms,
.parlour-header__container .wp-block-breadcrumbs {
    font-family: var(--wp--preset--font-family--inter-tight);
    font-size: var(--wp--preset--font-size--x-small);
    font-style: italic;
    font-weight: 300;
    color: var(--wp--preset--color--neutral-700);
    
    a {
        color: var(--wp--preset--color--neutral-700);
    }
    
    a:hover {
        color: var(--wp--preset--color--primary);
    }
}

/* Single Posts */

.parlour-header--post > *:last-child:not(.wp-block-post-featured-image) {
    padding-bottom: var(--wp--preset--spacing--60);
}

.parlour-header__container + .wp-block-post-featured-image {
    margin-top: var(--wp--preset--spacing--100);
}

.parlour-header--post .wp-block-post-featured-image {
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

.parlour-header--post .parlour-header__post-meta {
    display: flex;
    justify-content: space-between;
}

/* Frontpage */

.parlour-header--home .parlour-header__container {
    max-width: var(--parlour--width-wide-size);
    margin: 0 auto;
}

.parlour-header--home {
    padding-bottom: var(--wp--preset--spacing--120);
}

.parlour-header--home h1 {
    font-size: var(--wp--preset--font-size--5-x-large);
}

.parlour-header--home .wp-block-separator {
    margin-top: var(--wp--preset--spacing--110);
    margin-block-end: var(--wp--preset--spacing--90);
}

/* Columns */

.parlour-header__columns {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--70);
}

@media (--above-bp-tablet) {
    .parlour-header__columns {
        flex-direction: row;
        gap: var(--wp--preset--spacing--100);
        justify-content: space-between;

        & > *:first-child {
            flex: 1 1 auto;
        }

        & > *:last-child {
            flex: 0 0 350px;
        }
    }
}