<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"header","metadata":{"name":"Post Header","categories":["parlour-sections"]},"align":"full","className":"parlour-header parlour-header\u002d\u002dblog","layout":{"type":"default"}} -->
<header class="wp-block-group alignfull parlour-header parlour-header--blog"><!-- wp:group {"metadata":{"name":"Container"},"className":"parlour-header__container","layout":{"type":"default"}} -->
<div class="wp-block-group parlour-header__container"><!-- wp:breadcrumbs {"separator":" • "} /-->

<!-- wp:query-title {"type":"archive"} /-->

<!-- wp:separator {"className":"is-style-default","style":{"spacing":{"margin":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|70"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default" style="margin-top:var(--wp--preset--spacing--100);margin-bottom:var(--wp--preset--spacing--70)"/>
<!-- /wp:separator --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"parlour-main","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|90","bottom":"var:preset|spacing|120"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group parlour-main" style="padding-top:var(--wp--preset--spacing--90);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--120);padding-left:var(--wp--preset--spacing--50)"><!-- wp:query {"queryId":20,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|90"}}} -->
<!-- wp:group {"metadata":{"name":"Single Post"},"align":"wide","className":"parlour-post-listing","style":{"spacing":{"blockGap":"var:preset|spacing|90","padding":{"bottom":"var:preset|spacing|90"}},"border":{"bottom":{"color":"var:preset|color|neutral-400","width":"1px"},"top":[],"right":[],"left":[]}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide parlour-post-listing" style="border-bottom-color:var(--wp--preset--color--neutral-400);border-bottom-width:1px;padding-bottom:var(--wp--preset--spacing--90)"><!-- wp:group {"metadata":{"name":"Post Meta"},"className":"parlour-post-listing__meta","style":{"spacing":{"blockGap":"var:preset|spacing|80"}},"layout":{"type":"default"}} -->
<div class="wp-block-group parlour-post-listing__meta"><!-- wp:group {"metadata":{"name":"Date \u0026 Read Time"},"className":"parlour-post-listing__date-time","style":{"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group parlour-post-listing__date-time" style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)"><!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"x-small","fontFamily":"inter-tight"} /-->

<!-- wp:post-time-to-read {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"x-small","fontFamily":"inter-tight"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Post Terms"},"className":"parlour-post-listing__terms","style":{"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group parlour-post-listing__terms" style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"x-small","fontFamily":"inter-tight"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Post Content"},"align":"wide","className":"parlour-post-listing__content","style":{"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide parlour-post-listing__content" style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)"><!-- wp:post-title {"isLink":true,"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|grey-dark"},":hover":{"color":{"text":"var:preset|color|primary"}}}}},"textColor":"grey-dark","fontSize":"x-large"} /-->

<!-- wp:post-excerpt {"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"metadata":{"name":"Pagination"},"className":"parlour-post__pagination","style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"spacing":{"margin":{"top":"var:preset|spacing|70"}},"elements":{"link":{"color":{"text":"var:preset|color|grey-medium"}}}},"textColor":"grey-medium","fontSize":"x-small","fontFamily":"inter-tight","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group parlour-post__pagination has-grey-medium-color has-text-color has-link-color has-inter-tight-font-family has-x-small-font-size" style="margin-top:var(--wp--preset--spacing--70);font-style:normal;font-weight:300"><!-- wp:parlour/pagination-count /-->

<!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"layout":{"type":"flex","justifyContent":"right"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->