<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"header","metadata":{"name":"Post Header","categories":["parlour-sections"]},"align":"full","className":"parlour-header","layout":{"type":"default"}} -->
<header class="wp-block-group alignfull parlour-header"><!-- wp:group {"metadata":{"name":"Container"},"className":"parlour-header__container","layout":{"type":"default"}} -->
<div class="wp-block-group parlour-header__container"><!-- wp:post-title {"level":1,"style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-pale"}}}}}} /-->

<!-- wp:post-excerpt /-->

<!-- wp:separator {"className":"is-style-default"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default"/>
<!-- /wp:separator --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"full","className":"parlour-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull parlour-main"><!-- wp:post-content {"align":"full","className":"parlour-content","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->