<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"header","metadata":{"name":"Post Header","categories":["parlour-sections"]},"align":"full","className":"parlour-header parlour-header\u002d\u002dpost","layout":{"type":"default"}} -->
<header class="wp-block-group alignfull parlour-header parlour-header--post"><!-- wp:group {"metadata":{"name":"Container"},"align":"wide","className":"parlour-header__container","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide parlour-header__container"><!-- wp:post-terms {"term":"category","separator":"  •  "} /-->

<!-- wp:post-title {"level":1,"style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-pale"}}}}}} /-->

<!-- wp:post-excerpt /-->

<!-- wp:separator {"className":"is-style-default"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default"/>
<!-- /wp:separator -->

<!-- wp:group {"metadata":{"name":"Post Meta"},"align":"wide","className":"parlour-header__post-meta","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide parlour-header__post-meta"><!-- wp:group {"metadata":{"name":"Author avatar \u0026 name"},"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignfull"><!-- wp:avatar {"size":40,"style":{"border":{"radius":{"topLeft":"300px","topRight":"300px","bottomLeft":"300px","bottomRight":"300px"}}}} /-->

<!-- wp:post-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"small","fontFamily":"inter-tight"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Date \u0026 Time"},"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:group {"metadata":{"name":"Publishing date"},"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group alignfull"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|grey-medium"}}}},"textColor":"grey-medium","fontSize":"x-small","fontFamily":"inter-tight"} -->
<p class="has-grey-medium-color has-text-color has-link-color has-inter-tight-font-family has-x-small-font-size" style="font-style:normal;font-weight:300">Published on</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"x-small","fontFamily":"inter-tight"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Time to read"},"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group alignfull"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|grey-medium"}}}},"textColor":"grey-medium","fontSize":"x-small","fontFamily":"inter-tight"} -->
<p class="has-grey-medium-color has-text-color has-link-color has-inter-tight-font-family has-x-small-font-size" style="font-style:normal;font-weight:300">Time to read:</p>
<!-- /wp:paragraph -->

<!-- wp:post-time-to-read /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"align":"wide"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"full","className":"parlour-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull parlour-main"><!-- wp:post-content {"align":"full","className":"parlour-content","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->