.wp-block-group.is-style-neutral-pale + .wp-block-group.is-style-neutral-pale,
.wp-block-group.is-style-neutral-lighter + .wp-block-group.is-style-neutral-lighter,
.wp-block-group.is-style-white + .wp-block-group.is-style-white {
    padding-top: var(--wp--preset--spacing--80);
}

.wp-block-group.alignfull[class*="is-style-"] + .wp-block-group.alignfull[class*="is-style-"] {
    margin-block-start: 0;
}

:not(.wp-block-group.alignfull[class*="is-style-"]) + .wp-block-group.alignfull[class*="is-style-"] {
    margin-block-start: var(--wp--preset--spacing--100);
}

.wp-block-group.alignfull[class*="is-style-"] + :not(.wp-block-group.alignfull[class*="is-style-"]) {
    margin-block-start: var(--wp--preset--spacing--100);
}

.parlour-content .wp-block-group.alignfull.is-style-neutral-50:first-child {
    padding-top: var(--wp--preset--spacing--80);
}

.parlour-content .wp-block-group.alignfull[class*="is-style-"]:first-child {
    margin-top: calc(var(--wp--preset--spacing--100) * -1);
}

.parlour-content .wp-block-group.alignfull[class*="is-style-"]:last-child {
    margin-bottom: calc(var(--wp--preset--spacing--120) * -1);
}